.chart-navigation{
    padding: 130px 0 140px;
    background: #F4F5F7;
    z-index: 1;

    &__buttons {
        display: flex;
        justify-content: space-between;

        .buttons {
            &__item {
                display: flex;

                .button {
                    margin-right: 15px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    &__info {
        background: white;
        padding: 40px;
        margin-top: 40px;
    }
}