.button {
    display: block;
    padding: 15px;
    background: white;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 2px 5px 2px #70707014;
    outline: none;
    cursor: pointer;

    &.active {
        background: #56AFE4;
        color: white;
    }
}