.info {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: white;
    border-radius: 4px;
    box-shadow: 0 2px 5px 2px #70707014;
    padding: 40px;
    margin-bottom: -70px;
    z-index: 2;

    &__item {
        width: 25%;
        .item {
            &__title {
                font-size: 14px;
            }
            &__value {
            font-size: 16px;
            font-weight: 400;
            color: #2C3440;
            }
        }
    }
}