.crypto-header {
    margin: 95px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        display: flex;
        align-items: center;

        .logo {
            &__name {
                font-size: 22px;
                font-weight: bold;
                color: #015090;
                margin-left: 25px;
            }
        }
    }

    &__buy {
        display: flex;
        align-items: center;
        
        .buy {
            &__price {
                margin-right: 30px;

                .price {
                    &__normal {
                        font-size: 36px;
                        font-weight: bold;
                        color: #55AFE4;
                        margin: 0;
    
                        span {
                            color: #212731;
                            text-transform: uppercase;
                        }
                    }

                    &__change {
                        float: right;
                        color: #2C3440;

                        span {
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}