.popup {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #00000070;
    overflow: hidden;

    &__box {
        position: relative;
        top: 50%;
        left: 50%;
        max-width: 300px;
        transform: translate(-50%, -50%);
        background: white;
        padding: 20px;
        border-radius: 4px;

        .close {
            position: absolute;
            width: 15px;
            height: 15px;
            top: 20px;
            right: 20px;

            &:before,
            &:after {
                content: '';
                position: absolute;
                display: block;
                width: 18px;
                height: 2px;
                top: 50%;
                left: 50%;
                background: black;
                
            }

            &:before {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &:after {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }

}