.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0 22px 0;

    &:after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100vw;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: #707070;
    }

    &__menu {
        a {
            margin-right: 25px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__select {
        .css-yk16xz-control,
        .css-1pahdxg-control {
            border: 0;
            border-radius: 4px;
            box-shadow: 0 2px 5px 2px #70707014;

            .css-1hwfws3 {
                padding: 5px 25px 5px 10px;
                min-width: 72px;

                .css-1uccc91-singleValue {
                    text-transform: uppercase;
                }
            }

            .css-1hb7zxy-IndicatorsContainer {
                position: absolute;
                right: 0;
            
            }
        }
    }
}