.footer {
    padding: 60px;
    
    &__holder {
        display: flex;
        justify-content: space-between;
    }

    &__menu {
        a {
            margin-right: 25px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}