@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=latin-ext');

body {
	overflow-x: hidden;
}
.App {
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 14px;
	color: #8A94A4;

	.container {
		max-width: 1140px;
		margin: 0 auto;
	}

	.overflow-hidden {
		overflow: hidden;
	}
	p {
		margin: 0;
	}

	a {
		color: #8A94A4;
		text-decoration: none;
		cursor: pointer;

		&:hover,
		&:focus {
			color: #8A94A4;
		}
	}

	.title {
		text-align: center;
	}
}